@import 'tailwindcss';
@import './drawer.css' layer(utilities);
@import './dialog.css' layer(utilities);
@import './map.css' layer(utilities);
@import './colors.css';

@plugin "tailwindcss-animate";
@plugin "tailwindcss-radix-colors";
@plugin "tailwind-scrollbar-hide";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 w-full;


}

@utility step {
  counter-increment: step;

  &:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
@theme inline {
  --color-background: var(--color-white);
  --color-foreground: var(--gray-11);

  --color-dim: var(--gray-11);
  --color-normal: var(--gray-12);

  --color-muted: var(--gray-8);
  --color-muted-foreground: var(--gray-9);

  --color-popover: var(--color-white);
  --color-popover-foreground: var(--gray-8);

  --color-border: var(--gray-9);
  --color-input: var(--gray-9);

  --color-card: var(--color-white);
  --color-card-foreground: var(--gray-8);

  --color-primary: var(--gray-4);
  --color-primary-foreground: var(--gray-11);

  --color-secondary: var(--slate-4);
  --color-secondary-foreground: var(--slate-11);

  --color-accent: var(--mint-6);
  --color-accent-foreground: var(--mint-11);

  --color-destructive: var(--red-4);
  --color-destructive-foreground: var(--red-12);

  --color-info:  var(--blue-4);
  --color-info-foreground:  var(--blue-12);

  --color-success:  var(--grass-4);
  --color-success-foreground:  var(--grass-12);

  --color-warning:  var(--amber-4);
  --color-warning-foreground:  var(--amber-12);

  --color-error:  var(--tomato-4);
  --color-error-foreground:  var(--tomato-12);

  --color-ring: #BBBBBB;

  --radius: 0.5rem;


  --sidebar-background: var(--gray-1);
  --sidebar-foreground: var(--gray-2);

  --sidebar-muted: var(--gray-8);
  --sidebar-muted-foreground: var(--gray-9);

  --sidebar-popover: var(--white-a1);
  --sidebar-popover-foreground: var(--gray-8);

  --sidebar-border: var(--gray-4);
  --sidebar-input: var(--gray-5);

  --sidebar-card: var(--white-a1);
  --sidebar-card-foreground: var(--gray-8);

  --sidebar-primary: var(--gray-4);
  --sidebar-primary-foreground: var(--gray-11);

  --sidebar-secondary: var(--slate-4);
  --sidebar-secondary-foreground: var(--slate-11);

  --sidebar-accent: var(--mint-6);
  --sidebar-accent-foreground: var(--mint-11);

  --sidebar-destructive: var(--red-4);
  --sidebar-destructive-foreground: var(--red-12);

  --sidebar-info:  var(--blue-4);
  --sidebar-info-foreground:  var(--blue-12);

  --sidebar-success:  var(--grass-4);
  --sidebar-success-foreground:  var(--grass-12);

  --sidebar-warning:  var(--amber-4);
  --sidebar-warning-foreground:  var(--amber-12);

  --sidebar-error:  var(--tomato-4);
  --sidebar-error-foreground:  var(--tomato-12);

  --sidebar-ring: var(--gray-10);

}



